In [20]:
import sqlite3
import pandas as pd

In [21]:
famcol = ['uid', 'husb', 'husb_name', 'wife', 'wife_name', 'marr', 'div', 'childrens']

In [22]:
conn = sqlite3.connect('./tests/rachi/rachi_wrong_new_1.db')
cursor = conn.cursor()

In [23]:
pd.DataFrame(cursor.execute("SELECT * FROM FAMILIES"), columns = famcol)

,uid,husb,husb_name,wife,wife_name,marr,div,childrens
0,@F70@,@I20@,Jack /Lopez/,@I21@,Hilary /Lopez/,1990 JUL 14,None,"[""@I22@"", ""@I23@""]"
1,@F88@,@I61@,Hilton/Day/,@I60@,Joana /Day/,1997 JAN 10,None,"[""@I62@"", ""@I63@""]"
2,@F75@,@I45@,James /Hillary/,@30@,None,1999 JUL 14,None,"[""@I51@"", ""@I50@""]"
3,@F1@,@I1@,Jack /Tester/,@I2@,Mary /Smith/,1990 JUL 14,None,"[""@I3@"", ""@I8@""]"
4,@F2@,@I6@,Steven /Tester/,@I7@,Lilian /Roberts/,1964 JUL 2,2022 JUN 6,"[""@I1@"", ""@I12@""]"
5,@F3@,@I4@,Rick /Smith/,@I5@,Jane /Adams/,1963 NOV 5,None,"[""@I2@"", ""@I14@""]"
6,@F4@,@I3@,Steve /Tester/,@I9@,Sally /Johnson/,2022 APR 15,None,[]
7,@F5@,@I10@,Alex /Smith/,@I11@,Alexa /Fakename/,1820 FEB 4,None,"[""@I4@""]"
8,@F6@,@I16@,Jason /Johnson/,@I17@,Alyssa /Peterson/,1992 JUN 5,2020 JUL 15,"[""@I9@""]"
9,@F7@,@I13@,Ryan /Fredricks/,@I12@,Amy /Tester/,2019 MAR 1,None,[]
10,@F8@,@I14@,Jimmy /Smith/,@I15@,Jackie /Jergensen/,2015 FEB 2,2020 APR 4,[]
11,@F9@,@I3@,Steve /Tester/,@I18@,Jenny /Fischer/,2000 JAN 6,None,[]
12,@F120@,@I90@,Alis /Jade/,@I91@,Sam /Jade/,2012 JUL 2,2016 JUN 6,[]
13,@F10@,@I4@,Rick /Smith/,@I19@,Alisha /Jones/,1900 FEB 15,None,[]

In [15]:
indicols = ['uid', 'name', 'sex', 'birt', 'age', 'deat', 'alive', 'famc', 'fams']

In [18]:
pd.DataFrame(cursor.execute("SELECT * FROM INDIVIDUALS"), columns = indicols)

,uid,name,sex,birt,age,deat,alive,famc,fams
0,@I1@,Jack /Tester/,M,1965 AUG 12,56,None,1,@F2@,@F1@
1,@I2@,Mary /Smith/,F,1968 MAR 12,57,2025 MAR 8,0,@F3@,@F1@
2,@I3@,Steve /Tester/,M,1995 FEB 2,26,None,1,@F1@,@F4@
3,@I4@,Rick /Smith/,M,1938 MAY 4,83,None,1,@F5@,@F3@
4,@I5@,Jane /Adams/,F,1941 MAR 6,80,None,1,None,@F3@
5,@I6@,Steven /Tester/,M,1947 JUN 15,74,None,1,None,@F2@
6,@I7@,Lilian /Roberts/,F,1946 APR 4,75,None,1,None,@F2@
7,@I8@,Jim /Tester/,M,1995 JAN 8,26,None,1,@F1@,None
8,@I9@,Sally /Johnson/,F,1997 JAN 10,24,None,1,@F6@,@F4@
9,@I10@,Alex /Smith/,M,1700 JAN 13,321,None,1,None,@F5@
10,@I11@,Alexa /Fakename/,F,1800 JAN 3,200,2000 FEB 3,0,None,@F5@
11,@I12@,Amy /Tester/,F,1970 MAR 10,51,None,1,@F2@,@F7@
12,@I13@,Ryan /Fredricks/,M,1968 APR 2,44,2012 MAR 7,0,None,@F7@
13,@I14@,Jimmy /Smith/,M,1972 MAR 3,49,None,1,@F3@,@F8@
14,@I15@,Jackie /Jergensen/,F,1974 FEB 4,43,2017 DEC 21,0,None,@F8@
15,@I16@,Jason /Johnson/,M,1964 APR 4,57,None,1,None,@F6@
16,@I17@,Alyssa /Peterson/,F,1971 MAR 5,41,2012 FEB 3,0,None,None
17,@I18@,Jenny /Fischer/,F,1970 APR 5,51,None,1,None,@F9@
18,@I19@,Alisha /Jones/,F,1940 APR 8,81,None,1,None,@F9@
19,@I20@,Jack /Lopez/,M,1985 APR 6,36,None,1,None,@F70@
20,@I21@,Hilary /Lopez/,F,1988 FEB 2,33,None,1,None,@F70@
21,@I45@,James /Hillary/,M,1987 JUL 12,34,None,1,None,None
22,@I60@,Joana /Day/,F,1993 MAR 25,28,None,1,None,@F88@
23,@I61@,Hilton/Day/,M,1994 APR 16,27,2021 APR 5,0,None,@F88@
24,@I62@,Hamilton /Day/,M,1999 JUL 8,22,None,1,@F88@,None
25,@I63@,Leo /Day/,F,2001 JUN 18,20,None,1,@F88@,None
26,@I30@,Hana /Johnson/,F,1978 APR 2,43,None,1,None,@F75@
27,@I50@,Jamil /Johnson/,M,2002 AUG 26,19,None,1,@F75@,@F75@
28,@I51@,Janet /Johnson/,M,2002 AUG 26,19,None,1,@F75@,None
29,@I90@,Alis /Jade/,M,1996 APR 7,25,None,1,@120@,None
30,@I91@,Sam /Jade/,F,1997 JAN 10,18,2015 FEB 6,0,@120@,None
31,@I22@,Julio /Lopez/,M,1993 APR 9,28,None,1,@F70@,None
32,@I23@,Julio /Lopez/,M,1993 APR 9,28,None,1,@F70@,None

In [ ]:
def validate_divorce_before_death(self, date_format=DEFAULT_DATE_FORMAT):
        if self.div is None:
            # not divroced
            return None
        else:
            # only if divorced
            divorce_date = datetime.datetime.strptime(self.div, date_format)
            husb, wife = self.db_indi_select(
                uid=self.husb), self.db_indi_select(uid=self.wife)

            if husb.deat is None:
                # husb living
                if wife.deat is None:
                    # wife living
                    return None
                else:
                    # wife is dead, check error
                    wifedeat = datetime.datetime.strptime(
                        wife.deat, date_format)
                    if (wifedeat - divorce_date).days < 0:
                        # husband alive, wife died but error, wife might be dead before divorce
                        return 'ERROR', self.wife, 'has a divorce date after her death', [self.husb, self.wife], [self.husb_name, self.wife_name]
                    else:
                        # husband alive, wife died but no error
                        return None
            else:
                # husb died, and check error
                husbdeat = datetime.datetime.strptime(husb.deat, date_format)
                if (husbdeat - divorce_date).days < 0:
                    # husband dided and there is an error
                    return 'ERROR', self.husb, 'has a divorce date after his death', [self.husb, self.wife], [self.husb_name, self.wife_name]
                else:
                    if wife.deat is None:
                        # wife living
                        return None
                    else:
                        # wife is dead, check error
                        wifedeat = datetime.datetime.strptime(
                            wife.deat, date_format)
                        if (wifedeat - divorce_date).days < 0:
                            # husband alive, wife died but error, wife might be dead before divorce
                            return 'ERROR', self.wife, 'has a divorce date after her death', [self.husb, self.wife], [self.husb_name, self.wife_name]
                        else:
                            # husband alive, wife died but no error
                            return None